
<div *ngIf="website && owner && positiveRatings" class="full-width mt5px">


  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{website!.url}}
        </mat-panel-title>
        <mat-panel-description>
          {{code!.code_value}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Description : {{code!.description}} </p>
      <p>Validity : {{code!.creation_date | date}} to {{code!.expiration_date | date}}</p>
      <p>Owner : {{owner!.mail}}</p>
      <p>Number of uses : {{code!.number_of_uses}}</p>
      <p>Positive ratings : {{positiveRatings!.length}}</p>
      <p>Negatives ratings : {{negativeRatings!.length}}</p>

      <a>Click to see : {{code!.redirect_url}}</a>

      <div style="margin-top: 30px;" *ngIf="isAtCurrentUser()">


        <mat-card style="margin-bottom: 20px;">
          <mat-card-subtitle>Sponsor this code</mat-card-subtitle>

          <mat-card-content>
            <form (ngSubmit)="onSponsorBtn()" [formGroup]="sponsoringForm">
              <mat-form-field appearance="fill">
                <mat-label>Sponsoring amount</mat-label>
                <input matInput placeholder="10EUR" value="" type="number" formControlName="amount">
              </mat-form-field>
              <button mat-raised-button color="primary" style="margin-left:20px" type="submit">Sponsor</button>
            </form>
          </mat-card-content>

          <mat-card-subtitle>Your sponsorships on this code</mat-card-subtitle>
          <mat-card-content>
            <mat-chip-list aria-label="Sponsorships">
              <mat-chip *ngFor="let sponsorship of sponsorships">{{sponsorship.amount}}</mat-chip>
            </mat-chip-list>
          </mat-card-content>

        </mat-card>

        <button mat-stroked-button color="primary" style="margin-right:20px" (click)="onUpdateBtn()">Update this code</button>
        <button mat-flat-button color="warn" style="margin-right:20px" (click)="onDeleteBtn()">Delete this code</button>
      </div>



    </mat-expansion-panel>
  </mat-accordion>



</div>



<mat-spinner *ngIf="website === undefined || owner === undefined || positiveRatings === undefined" [diameter]="20"></mat-spinner>
