<header>
  <mat-toolbar color="primary">

    <span>ReferYou</span>

    <button mat-button *ngIf="!isLogged">
      Login / Register
    </button>


    <button mat-button (click)="onCodeButton()">
      Codes
    </button>

    <span class="spacer-header"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>

  </mat-toolbar>
</header>



<ng-content select=".content"></ng-content>

